[submodule "third_party/zopfli"]
	path = third_party/zopfli
	url = https://github.com/google/zopfli.git
[submodule "third_party/zlib-ng"]
	path = third_party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/isa-l"]
	path = third_party/isa-l
	url = https://github.com/intel/isa-l
